.team {
  width: 100%;
  min-height: 200px;
}
.team-container {
  width: 90%;
  margin: auto;
  height: 100%;
  padding: 20px 0;
  flex-wrap: wrap;
}
.team-theme {
  margin-left: 5%;
}
.team-item {
  width: 270px;
  height: 100%;
  position: relative;
  margin: 10px 0;
}
.team-item div {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 200px;
  padding-top: 60px;
  color: white;
  top: 200px;
  left: 50%;
  cursor: pointer;
  transform: translate(-50%, -200px);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.team-item:hover div {
  opacity: 1;
}
.team-item figure {
  width: 100%;
  height: 200px;
}
.team-item figure img {
  width: 100%;
  height: 100%;
}
.team-contact {
  width: 250px;
  list-style: none;
  margin-right: auto;
  padding: 0;
}
.team-contact::before {
  content: "CONTACT:";
  display: block;
}
.team-contact li {
  width: 35px;
  height: 35px;
  transition: 0.2s ease-in;
  border: 1px solid rgb(88, 87, 87);
  font-size: 1.4em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: rgb(88, 87, 87);
}
.team-contact li:hover {
  color: white;
}
@media (max-width: 700px) {
  .team-item {
    width: 80%;
  }
  .team-container {
    width: 95%;
  }
}
